@font-face {
  src: url("./MinimalPixels.ttf") format("truetype");
  font-family: "MinimalPixels";
}

.game {
  font-family: "MinimalPixels";
  color: #fff;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: #c30;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
