@font-face {
  src: url("./MinimalPixels.ttf") format("truetype");
  font-family: "MinimalPixels";
}

.game {
  font-family: "MinimalPixels";
  color: #fff;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  font-size: 48px;
  max-height: 100vh;
  overflow: auto;
}

.menu {
  font-size: 28px;
}
.menu input {
  border: 2px solid #d83;
  background: transparent;
  color: #d83;
  box-sizing: border-box;
  padding: 0 0.4em;
  line-height: 1.4em;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  min-width: 200px;
}
.menu *:focus {
  outline: 2px solid #fff;
  color: #fff;
}
.menu .field {
  padding: 0.5em;
  margin-bottom: 0.2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.menu .field > * {
  flex: 1;
}
.menu .field > span {
  text-align: left;
  padding-right: 0.5em;
  margin-bottom: 0.6em;
  box-sizing: border-box;
}
.menu .buttons {
  font-size: 48px;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.menu .button {
  padding: 0.2em 0.6em;
  background: #d83;
  color: #000;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}
.menu .errors {
  font-size: 16px;
  color: #f00;
}

.game .auto {
  font-size: 0.5em;
}

.game footer {
  font-family: Monoid, monospace;
  font-size: 10px;
  padding: 20px;
  font-style: italic;
}

a {
  color: #c30;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
