.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}
.app {
}

.qualities {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
