body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
  color: white;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
